.pix{
    border: 0.1px black solid;
    transition: 2s;
    aspect-ratio: 1/1;
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: whitesmoke;

}
/*
.pix:hover{
    background-color: red;
    transition: 0s;
}
*/
#container{
    display:grid;
    width: 960px;
    height:100%;
}
.nob{
    display: flex;
    justify-content: center;

}
body{
    width: 99%;
align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: darkgray;
    align-content: center;
}
button{

    margin: 8px;
    background-color: darkcyan;
    color: orange;
    padding: 10px;
    width: 120px;
    border: none;
    font-size: 20px;
    border-radius: 15%;
}
button:hover{
    background-color: brown;
    color: darkcyan;
    transition: 1s;
}
h1{
    color: brown;
}