.pix{
    border: 0.1px black solid;
    transition: 2s;
    aspect-ratio: 1/1;
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: whitesmoke;

}
.pix:hover{
    background-color: red;
    transition: 0s;
}

#container{
    display:grid;
    width: 960px;
    height:100%;
}
body{
    width: 99%;
align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: darkgray;
    align-content: center;
}
button{

    margin: auto;
    background-color: darkcyan;
    color: orange;
    padding: 10px;
    width: 120px;
    border: none;
}